@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/commissioner-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/commissioner-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/commissioner-cyrillic.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/commissioner-cyrillic-ext.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

:root {
  --primary-font: "Commissioner", "Poppins", "Montserrat", -apple-system, sans-serif;

  /* --font-{size}-{weight} */
  --font-12-n: normal 400 1.2rem/1.2 var(--primary-font);
  --font-13-n: normal 400 1.3rem/1.2 var(--primary-font);
  --font-14-n: normal 400 1.4rem/1.2 var(--primary-font);
  --font-16-n: normal 400 1.6rem/1.2 var(--primary-font);
  --font-18-n: normal 400 1.8rem/1.2 var(--primary-font);
  --font-20-n: normal 400 2.0rem/1.2 var(--primary-font);
  --font-24-n: normal 400 2.0rem/1.2 var(--primary-font);

  --font-12-m: normal 500 1.2rem/1.2 var(--primary-font);

  --font-14-m: normal 500 1.4rem/1.2 var(--primary-font);
  --font-16-m: normal 500 1.6rem/1.2 var(--primary-font);
  --font-18-m: normal 500 1.8rem/1.2 var(--primary-font);
  --font-20-m: normal 500 2.0rem/1.2 var(--primary-font);
  --font-24-m: normal 500 2.4rem/1.2 var(--primary-font);

  --font-20-sb: normal 600 2.0rem/1.2 var(--primary-font);
  --font-24-sb: normal 600 2.4rem/1.2 var(--primary-font);
  --font-28-sb: normal 600 2.8rem/1.2 var(--primary-font);
  --font-32-sb: normal 600 3.2rem/1.2 var(--primary-font);
  --font-48-sb: normal 600 4.8rem/1.2 var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}